<ion-view view-title="Agenda">
<ion-nav-buttons side="right">
<button menu-toggle="right" class="button button-icon icon ion-android-funnel" ng-click="order('+')"></button>
</ion-nav-buttons>
  <ion-content ng-init="init()" cache-view="false">
  	<ion-list>
      <div class="list">
		  <div collection-repeat="event in events | orderBy:predicate:reverse | limitTo:rssnb" class="item item-avatar item-text-wrap" ng-click="browse(event.link)">
		            <img src="img/latechsmall.png">
		            <b>{{event.subject}}</b><br/>
		
					<div ng-if="event.date.length == 2">
						<b>du</b> {{event.date[0]}} <b>au</b> {{event.date[1]}}</br />
						<span ng-show="event.hour" class="ion-ios-clock">{{event.hour}}<br /></span>
						<span class="ion-ios-location"></span> {{event.location | ifEmpty:'à définir'}}
					</div>
					<div ng-if="event.date.length != 2">
						le {{event.date}} à {{event.hour}} | <span class="ion-ios-clock">{{event.duration | slug}}</span><br />
						<span class="ion-ios-location"></span>  {{event.location | ifEmpty:'à definir'}}
					</div> 

				<span ng-bind-html="event.description"></span>
		  	</div>
		  </div>				       
    </ion-list>
  </ion-content>
</ion-view>
