<ion-view view-title="About">
  <ion-content>
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/lenny.jpg">
        <h2>Lenny Cartier</h2>
        <p><a href="#" onclick="window.open('https://www.twitter.com/lennycartier', '_system', 'location=yes'); return false;">@lennycartier</a> / <a href="mailto:l.cartier@free.fr">l.cartier@free.fr</a></p>
      </div>
      <div class="item item-body">
        <h2>Explore</h2>
      <p>
          Sources : <a href="#" onclick="window.open('https://github.com/lennycartier/ltanews', '_system', 'location=yes'); return false;">github.com/lennycartier/ltanews</a><br />
          Slides : <a href="#" onclick="window.open('http://www.datanotes.org', '_system', 'location=yes'); return false;">datanotes.org</a> <br />
          Nic Raboy blog : <a href="#" onclick="window.open('https://blog.nraboy.com/', '_system', 'location=yes'); return false;">https://blog.nraboy.com/</a> <br />
          Ionicframework docs : <a href="#" onclick="window.open('http://ionicframework.com/docs/', '_system', 'location=yes'); return false;">http://ionicframework.com/docs/</a> <br />
          Amit Agarwal blog : <a href="#" onclick="window.open('http://www.labnol.org', '_system', 'location=yes'); return false;">http://www.labnol.org</a> <br />
		  Import.io : <a href="#" onclick="window.open('http://www.import.io', '_system', 'location=yes'); return false;">http://www.import.io</a> <br />
      </p>
      <h2>Changelog</h2>
      <p>
		0.0.10 : settings are back<br />  
		0.0.9 : disable settings for now<br />  
		0.0.8 : query tweets proxy; loading screen; sanitize html in tweets; GA enabled<br />  
		0.0.7 : clean up<br />  
		0.0.6 : date fix<br />
		0.0.5 : query import.io API<br />
        0.0.4 : ship with minified ionic files; remove useless bower components<br />
        0.0.3 : add persistent settings<br />
        0.0.2 : add localStorage and feed items # support<br />
        0.0.1 : initial release. Feeds grabber via google feed api & tweets2rss from Amit Agarwal<br />
      </p>
      </div>
    </div>
    </ion-content>
</ion-view>

<!-- listening the whites lies(https://www.youtube.com/watch?v=LTh9IuSTOY0), les savy fav(https://www.youtube.com/watch?v=weYE_wi-Guc),
fujiya & miyagi (https://www.youtube.com/watch?v=iZvVxed8myA), st vincent (https://vimeo.com/36052867), katy perry roar (https://vimeo.com/74019894)
trent reznor and atticus ross the social network soundtrack (https://www.youtube.com/watch?v=yydZbVoCbn0)-->
