<ion-view view-title="@laTechAmienoise timeline">
  <ion-content ng-init="init()">
    <ion-list>
      <div class="list">
		  <!-- {{tweets | json}} -->
        <div collection-repeat="tweet in tweets" class="item item-avatar" ng-click="">
			titre : {{tweet.title}}<br />
			
		<!-- <a ng-repeat="tweet in tweets" 
		            href="#" target="_blank" 
		            class="item item-thumbnail-left">
		           <img ng-src="#">
		           <h2>{{tweet.title}}</h2>
		          
		         </a>
		 
		  <img src="img/twitter.png">
          <b>{{tweet.title}}</b><br>
          <span ng-bind-html="entry.contentSnippet"></span> -->
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
