<ion-view view-title="@laTechAmienoise timeline">
<ion-nav-buttons side="right">
<button menu-toggle="right" class="button button-icon icon ion-android-funnel" ng-click="order('+')"></button>
</ion-nav-buttons>
  <ion-content ng-init="init()" cache-view="false">
  <ion-refresher on-refresh="doRefresh()"></ion-refresher>
    <ion-list>
      <div class="list">
        <div collection-repeat="tweet in tweets | orderBy:predicate:reverse | limitTo:tweetsnb" class="item item-avatar" ng-click="browse(tweet.url)">
			<img src="img/twitter.png">
			<b>laTechAmienoise</b> @laTechAmienoise<br>
			<pre ng-bind-html="tweet.content"></pre>
			<p ng-bind-html="trustAsHtml(question.body)"></p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
