<ion-view view-title="@laTechAmienoise timeline">
<ion-nav-buttons side="right">
<button menu-toggle="right" class="button button-icon icon ion-android-funnel" ng-click=""></button>
</ion-nav-buttons>
  <ion-content ng-init="init()">
    <ion-list>
      <div class="list">
		  <!-- {{tweets | json}} -->
        <div collection-repeat="tweet in tweets" class="item item-avatar" ng-click="">
			<b>{{tweet.title}}</b><br />
			<span style="font-variant: small-caps;">{{tweet.author.name}}</span><br />
			id : {{tweet.id}}<br />
			contenu : {{tweet.content}}<br />
			auteur : {{tweet.author.name}}<br />
			
		<!-- <a ng-repeat="tweet in tweets" 
		            href="#" target="_blank" 
		            class="item item-thumbnail-left">
		           <img ng-src="#">
		           <h2>{{tweet.title}}</h2>
		          
		         </a>
		 
		  <img src="img/twitter.png">
          <b>{{tweet.title}}</b><br>
          <span ng-bind-html="entry.contentSnippet"></span> -->
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
